.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #ffffff;
    padding: 10px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    
  }

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 30px;
    text-align: center;
  }

  img {
    margin-top: 10px;
    max-width: 100%;
    width: 75%;
    max-height: 200px;
  }

  button {
    margin: 35px;
      
  }